@mixin animation($delay, $duration, $name, $iteration, $timing) {
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $name;
  animation-iteration-count: $iteration;
  animation-timing-function: $timing;
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

@include keyframe(scroll-down-1) {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@include keyframe(scroll-down-2) {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin elip($line) {
  text-overflow: ellipsis;
  overflow: hidden;

  @if ($line > 1) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  } @else {
    white-space: nowrap;
  }
}

/*반응형 화면 크기*/
$mobile: 768px;
$tablet: 1024px;
$desktop1: 1600px;
$desktop2: 1330px;

// 최소 320

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin desktop1 {
  @media (max-width: $desktop1) {
    @content;
  }
}
@mixin desktop2 {
  @media (max-width: $desktop2) {
    @content;
  }
}
